button{
    height:100px;
    width:100px;
    border-radius:50px;
    border-style:none;
    background-color: #3b3b3b;
    color:white;
    font-size: 3rem;
    cursor:pointer;
}

button:hover{
    background-color: #4b4b4b;
}

button:active{
    background-color: #6c6b6b;
}

.operator-button{
    background-color: #cc7005;
}

.operator-button:hover{
    background-color: #cc8605;
}

.operator-button:active{
    background-color: #e79c1f;
}
#keys{
    display:grid;
    /*grid-template-columns: 120px 120px 120px 120px;*/
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
    padding:25px;
}

#calculator{
    font-family: Arial,sans-serif;
    background-color:gray;
    border-radius:15px;
    max-width: 500px;
    overflow:hidden; /*check*/
}

#display{
    width:100%;
    padding:20px;
    font-size: 5rem;
    text-align: left;
    background-color: white;
}

body{
    margin:0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
